<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/navbar'); -%>
            <!-- Page Header-->
            <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
                <div class="page-heading">
                    <h1>Home page</h1>
                    <span class="subheading">Home page subheading</span>
                </div>
            </header>
            <!-- Main Content-->

            <main class="mb-4">
            </main>
    </body>

</html>